* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #d3dfed;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.7em;
  font-weight: bold;
  color: #6bb3ba;
}

.templates {
  grid-column: 5 / 8;
  grid-row: 3 / 8;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.template {
  cursor: pointer;
  width: 240px;
  height: 240px;
  border: 1px solid#003a61;
}
